<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mp.mpdemo.mapper.ChatDefaultWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mp.mpdemo.entity.ChatDefaultWallet">
        <id column="chat_id" property="chatId" />
        <result column="public_key" property="publicKey" />
    </resultMap>

</mapper>
